
.modifier {
    -fx-alignment: center;
    -fx-border-color: darkgreen;
    -fx-border-style: solid;
    -fx-border-width: 0px, 0px, 0px, 1px;
}


.computeDerivative {
    -fx-pref-height: 50px;
}

.indexLabel {
    -fx-font-weight: bold;
    -fx-pref-width: 20px;
}

.derivativeButton {
    -fx-alignment: center;
    -fx-background-color: green;
    -fx-border-radius: 9;
    -fx-border-width: 10px;
    -fx-border-color: white;
    -fx-background-radius: 20;
}